<launch>  

<param name ="/use_sim_time" value="false"/>

<arg name="voc" value="$(find ORB_SLAM2_PointMap_SegNetM)/../../../Vocabulary/ORBvoc.bin" />
<arg name="config" value="$(find ORB_SLAM2_PointMap_SegNetM)/TUM3.yaml" />
<arg name="dataset" value="/root/Dataset/TUM/freiburg3/rgbd_dataset_freiburg3_walking_xyz" />
<arg name="associate" value="/root/Dataset/TUM/freiburg3/rgbd_dataset_freiburg3_walking_xyz/associations.txt" />
<arg name="prototxt" value="$(find ORB_SLAM2_PointMap_SegNetM)/prototxts/segnet_pascal.prototxt" />
<arg name="model" value="/root/cnnmodel/segnet_pascal.caffemodel" />
<arg name="color_map" value="$(find ORB_SLAM2_PointMap_SegNetM)/tools/pascal.png" />

<node pkg="ORB_SLAM2_PointMap_SegNetM" name="TUM" type="TUM" args="$(arg voc) $(arg config) $(arg dataset) $(arg associate)  $(arg prototxt) $(arg model) $(arg color_map)" output="screen" launch-prefix="gdb -ex run --args" />

<!-- Run other launch file -->
<include file="$(find ORB_SLAM2_PointMap_SegNetM)/launch/Octomap.launch" />
<include file="$(find ORB_SLAM2_PointMap_SegNetM)/launch/transform.launch" />
<node pkg="rviz" name="rviz" type="rviz" args="-d $(find ORB_SLAM2_PointMap_SegNetM)/rviz/ds_slam.rviz" />

</launch>
